---
interface Props {
  title: string;
  description: string;
  ingredients: Array<string>;
  price: string;
  imgTitle: string;
  imgDescription: string;
}

const { title, description, ingredients, price, imgTitle, imgDescription } =
  Astro.props;
---

<article
  class="relative flex flex-col w-[48%] text-slate-100 justify-between gap-4 mb-12 sm:w-full"
>
  <main
    class="flex flex-col items-center justify-between ml-2 mt-4 pb-4 border-b"
  >
    <h3 class="font-bold mb-4 text-2xl w-full sm:text-lg">{title}</h3>
    <div class="w-full flex flex-row justify-between sm:gap-4">
      <p
        class="parrafo text-justify w-3/5 max-h-[160px] overflow-y-auto text-sm sm:text-xs"
      >
        {description}
      </p>
      <button
        class="self-end mr-8 w-[155px] h-[155px] rounded-xl overflow-hidden sm:mr-0 sm:w-[120px]"
      >
        <img
          class="object-cover w-full h-full"
          src=`/carta-images/${imgTitle}.webp`
          alt={imgDescription}
        />
      </button>
    </div>
  </main>
  <footer class="w-full ml-2 flex flex-row items-center justify-between">
    <p
      class="border bg-yellow-300 border-red-800 px-4 py-1 rounded-xl w-fit font-bold text-red-800 sm:text-sm"
    >
      S/. {price}
    </p>
    <!-- <button
      class="bg-red-800 rounded-lg mr-8 px-4 py-1 shadow-sm hover:scale-105 hover:bg-red-800 transition-transform sm:mr-0 sm:text-sm"
    >
      Añadir a favoritos
    </button> -->
  </footer>
</article>

<style>
  .parrafo::-webkit-scrollbar {
    display: none;
  }
</style>
