---
interface Props {
  title: string;
  description: string;
  imgTitle: string;
  imgDescription: string;
  wspMessage: string;
}

const { title, description, imgTitle, imgDescription, wspMessage } =
  Astro.props;
---

<article
  class="relative w-4/5 m-auto rounded-lg overflow-hidden mt-8 mb-16 last:mb-8 sm:w-[90%]"
>
  <img
    class="w-full h-full"
    src=`/eventos/${imgTitle}.webp`
    alt={imgDescription}
  />
  <div
    class="absolute bottom-2 left-2 bg-white p-4 w-[400px] rounded-2xl flex flex-col gap-2 justify-center items-center sm:w-[110px] sm:h-[104px] sm:p-2"
  >
    <h3 class="uppercase text-3xl font-bold sm:text-xs">{title}</h3>
    <p class="text-justify w-[90%] sm:text-[6px] sm:w-full">{description}</p>
    <a
      class="pdfButton rounded-lg shadow-sm bg-red-900 px-4 py-2 text-white hover:scale-105 hover:bg-red-800 transition-all sm:text-[6px] sm:px-2 sm:py-1"
      href={wspMessage}
      target="_blank"
    >
      Más información
    </a>
  </div>
</article>
