---
interface Props {
  title: string;
  description: string;
  imgTitle: string;
  imgDescription: string;
  href: string;
}

const { title, description, imgTitle, imgDescription, href } = Astro.props;
---

<button class="relative w-1/4 group sm:w-[80%]">
  <img
    class="w-full"
    src=`/menu-sections/${imgTitle}.webp`
    alt={imgDescription}
  />
  <a
    href=`/carta#${href}`
    class="absolute left-0 top-0 text-white bg-black/50 h-full w-full overflow-hidden"
  >
    <div
      class="absolute top-[35%] left-0 right-0 flex flex-col justify-center items-center group-hover:top-[20%] transition-all duration-500"
    >
      <h3 class="uppercase text-3xl font-bold my-8">
        {title}
      </h3>
      <p
        class="opacity-0 w-3/4 text-justify group-hover:opacity-100 transition-opacity ease-out duration-[400ms]"
      >
        {description}
      </p>
    </div>
  </a>
</button>
